################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HostedWebAppIFrame/bin
/HostedWebAppIFrame/bld
/.vs/HostedWebAppIFrame/v14
